<div class="article-item container bg-dark bg-gradient p-3 rounded mb-3 shadow" id="<%= dom_id article %>">
    
  <h2 class="text-white mb-0"><%= article.title %></h2>
  <p class="text-white fst-italic">by <%= article.author %></p>

  <p class="text-white fs-5">
    <%= article.content %>
  </p>

  

</div>
