<div class="article-item container bg-body-secondary p-3 rounded mb-3" id="<%= dom_id article %>">
    
  <h2 class="mb-0"><%= article.title %></h2>
  <p class="fst-italic">by <%= article.author %></p>

  <p class="fs-5">
    <%= article.content %>
  </p>

  

</div>
