<% data = [
  {
    name: "Fantasy & Sci Fi", 
    data: [["2010", 10], ["2020", 16], ["2030", 28]]
  },
  {
    name: "Romance", 
    data: [["2010", 24], ["2020", 22], ["2030", 19]]
  },
  {
    name: "Mystery/Crime", 
    data: [["2010", 20], ["2020", 23], ["2030", 29]]
  }
] %>

<div class="container">
  <h1>Most searched</h1>

  <table class="table table-hover table-striped">
    <thead class="table-dark">
      <tr>
        <th>Query</th>
        <th>Instances</th>
      </tr>
    </thead>
    <tbody>
      <% @queries.each do |query| %>
        <tr>
          <th><%= query[0] %></th>
          <th><%= query[1] %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>