<div class="container">

  <div class="container my-5">
    <h2>Top 5 searches</h2>
    <%= bar_chart @queries.first(5)%>
  </div>

  <h1>Most searched</h1>

  <table class="table table-hover table-striped">
    <thead class="table-dark">
      <tr>
        <th>Query</th>
        <th>Instances</th>
      </tr>
    </thead>
    <tbody>
      <% @queries.each do |query| %>
        <tr>
          <th><%= query[0] %></th>
          <th><%= query[1] %></th>
        </tr>
      <% end %>
    </tbody>
  </table>


  
</div>